.task-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2374AB;
    padding: 2rem;
    border-radius: 2rem;
}

.shared-with {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.each-shared {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff84848c;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 1rem;
    gap: .5rem;
    cursor: default;
}

.each-shared:hover {
    background-color: #ff8484ce;
}

.x-button {
    background-color: transparent;
    padding: .1rem;
    border: none;
    border-radius: 100%;
}

.x-button:hover {
    background-color: #ff8484;
    border-radius: 100%;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: .5rem;
}

.important {
    background-color: rgb(189, 107, 1);
}

.completed {
    background-color: green;
}

.shareTo-btn {
    background-color: transparent;
    border-radius: 2rem;
    border: solid;
    border-width: .1rem;
    border-color: #ff8484;
    transition: all ease-in-out 0.3s;
}

.shareTo-btn:hover {
    background-color: #ff8484;
    color: black;
}

.shareTo {
    display: flex;
    gap: 1rem;
}

.shareTo-input {
    border-radius: 2rem;
}

.shareTo-btn-share {
    background-color: transparent;
    padding: .5rem;
    border-radius: 2rem;
    border: solid;
    border-width: .1rem;
    border-color: #ff8484;
    transition: all ease-in-out 0.3s;
}

.shareTo-btn-share:hover {
    background-color: #ff8484;
    color: black;
}
