.task-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2374AB;
    color: azure;
    padding-bottom: 2rem;
    border-radius: 2rem;
}

.shared-with {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.owner {
    padding: .5rem;
    background-color: #ff84848c;
    border-radius: 1rem;
}

.each-shared {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff84848c;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 1rem;
    gap: .5rem;
    cursor: default;
}

.each-shared:hover {
    background-color: #ff8484ce;
}

.description-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.x-button {
    color: azure;
    background-color: transparent;
    padding: .1rem;
    border: none;
    border-radius: 100%;
}

.x-button:hover {
    background-color: #ff8484;
    border-radius: 100%;
}

.title-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttons {
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: .5rem;
}

.action-btn:hover {
    color: #ff8484;
}

.important {
    background-color: rgb(189, 107, 1);
}

.completed {
    background-color: green;
}

.shareTo-btn {
    color: azure;
    background-color: transparent;
    border-radius: 2rem;
    border: solid;
    border-width: .1rem;
    border-color: #ff8484;
    transition: all ease-in-out 0.3s;
    margin: 1rem;
}

.shareTo-btn:hover {
    background-color: #ff8484;
    color: black;
}

.shareTo {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem;
}

.shareTo-input {
    border-radius: 2rem;
}

.shareTo-btn-share {
    background-color: transparent;
    padding: .5rem;
    border-radius: 2rem;
    border: solid;
    border-width: .1rem;
    border-color: #ff8484;
    transition: all ease-in-out 0.3s;
}

.shareTo-btn-share:hover {
    background-color: #ff8484;
    color: black;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8484;
    color: azure;
    font-weight: bolder;
    padding: .5rem;
    border-radius: 1rem 1rem 0rem 0rem ;
}
